
@font-face
{
font-family: AvenirHand;
src: url('AvenirHand.ttf'),
url('AvenirHand.eot'),
url('AvenirHand.woff');

}
*{
	font-family: AvenirHand, Times;
}
a {
	text-decoration: none;
	color: white;
}
.title{
	height: 300px;
	width: 100%;
	text-align: center;
	font-size: 8.5rem;
	color: white;
	padding-top: 15%;
	padding-left: 0px;
	margin: 0;
}
.menu li {
	display: inline;
	width: 100%;
	text-align: center;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
}
.menu ul {
	display: inline;
	list-style-type: none;
	top: 0px;
}
.menu {
	padding-right: 30px;
	margin: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	font-size: 2.5rem;
	overflow: auto;
}

#page1, #page2, #page3 {
	margin-left: auto;
	margin-right: auto; 
	width: 60%;
	text-align: center;
	padding-top: 15%;
	color: white;
	font-size: 3rem;
}


#page1 {
	height: 600px;
}

#page2 {
	height: 1400px;
	padding-bottom: 200px;
}

#page3 {
	height: 800px;
}

#resume:hover {
	color: black;
}


#social {
	text-decoration: none;
	width: 90%;
	margin: 0 auto;
	padding-right: 52px;
}

#social img {
	width: 10.5vw;
}

#social ul {
	text-align: center;
}
#social li {
	display: inline-block;
}

#trofi img {
	width: 14.5vw;
}

#eatout img {
	margin-left: 2%;
	width: 20vw;
}

canvas {
	display : block;
    margin: auto;
    position: absolute;
    margin-top: -15%;
    left: 0;
    right: 0;

}



form {
	align: center;
	padding: 5px;
	margin: auto;
	display: inline-block;
}
form input {
	font-size: 3.5rem;	
	border: none;
	background: transparent;
	border-bottom: 1px solid #fff;
	outline: none;
	color: white;
}
body{
	height: 100%;
	background: -webkit-linear-gradient(#FF4935, #6FCCBB);
}
		


