
@font-face
{
font-family: AvenirHand;
src: url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap')
}
*{
	font-family: 'Quicksand', sans-serif;
}
a {
	color: white;
}

.title{
	height: 300px;
	width: 100%;
	text-align: center;
	font-size: 8.5rem;
	color: white;
	padding-top: 15%;
	padding-left: 0px;
	margin: 0;
}
.menu li {
	display: inline;
	text-align: center;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
}
.menu a {
	text-decoration: none;
}
.menu ul {
	display: inline;
	list-style-type: none;
	top: 0px;
}
.menu {
	padding-right: 30px;
	margin: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	font-size: 2.5rem;
	overflow: auto;
}

#page1, #page2, #page3 {
	margin-left: auto;
	margin-right: auto; 
	width: 80%;
	padding-top: 15%;
	color: white;
	font-size: 3rem;
}


#page1 {
	height: 600px;
}


#portrait {
	min-width: 300px;
	width: 16.5vw;
	float: left;
	margin-top: 5%;
	max-width: 1000px;
}

#page1 h6 {
	width: 65%;
	margin-left: 35%;
}

#page2 {
	height: 1800px;
	padding-top: 13%;
}

#projects h3 {
	text-align: center;
}

#page3 {
	height: 700px;
	width: 100%;
	text-align: center;
	padding-bottom: 20%;
}

#resume:hover {
	color: black;
}

#social {
	text-decoration: none;
	width: 70%;
	margin: 0 auto;
	padding-right: 52px;
}

#social img {
	width: 6.5vw;
	max-width: 120px;
}

#social ul {
	text-align: center;
}
#social li {
	display: inline-block;
}

#eatout img, #quack img {
	float: left;
	width: 300px; 
}

#quack img {
	margin-top: 3%;
}

#eatout h5, #quack h5 {
	width: 70%;
	margin-left: 30%;
	font-size: 1.4rem;
}

#eatout h6, #quack h6 {
	width: 80%;
	margin-left: 30%;
	font-size: 1.4rem;
}

#games {
	width: 100%;
	text-align: center;
	padding-bottom: 100px;
}

#game-list {
    width: 100%;
	height: 600px;
	font-size: 1rem;
	text-align: center;
	margin-left: .5%;
}

#game-list div {
	width: 33%;
	height: 380px;
    /*outline: 1px solid;*/
	float: left;
	position: relative;
}
#game-list div p{
	width: 95%;
	margin-left: 2.5%;
	position: absolute;
}

#ch-demo p {
	position: absolute;
	width: 30%;
	z-index: -1;
}

#yard-yarn img {
	padding-top: 160px;
}



#nort img {
	width: 90%;
	margin-right: 4%;
	margin-top: 25%;
	padding-top: 50px;
	max-width: 500px;
}

canvas {
	position: absolute;
	width: 90%;
	margin-left: -45%;
	margin-top: -12%;
	height: 500px;
	float: left;
	z-index: 40;
	/*background: white;*/
}

@media(max-width: 1500px) {
	#nort p {
		font-size: 1vw;
	}
}

@media (max-width: 1024px) { /* when the width is less than 30em, make both of the widths 100% */

	#eatout img, #quack img {
		float: none;
		text-align: center;
		margin-left: 25%;
		width: 50%;
	}

	#nort p {
		font-size: 2.2vw;
	}
	
	#eatout h5, #quack h5, #eatout h6, #quack h6 {
		margin-left: 10%;
		width: 80%;
		font-size: 1.6rem;
		text-align: center;
	}

	#game-list {
		margin: 0;
		text-align: center;
		font-size: 2.2vw;
	}

	#game-list div {
		float: center;
		width: 100%;
	}

	#page1 img {
		width: 40%;
		margin-left: 30%;
	}

	#page2 {
		padding-top: 450px;
		height: 3300px;
	}
	#page3 {
		height: 500px;
	}

	#page2 h1 {
		text-align: center;
	}

	#social img {
		width: 6.5vw;
		min-width: 60px;
	}

	#page1 h6{
		padding-top: 55%;
		width: 90%;
		text-align: center;
		margin-left: 5%;
	}

	#page1 {
		height: 800px;
		width: 100%;
	}

	#game-list img {
		width: 50%;
		padding-top: 160px;
		margin-top: 20px;
		max-width: 300px;
		float: none;
	}

	#nort img {
		margin-left: 4%;
	}

	canvas {
		width: 90%;
		margin-left: -45%;
		margin-top: 72%;
		height: 500px;
		z-index: 40;
		/*background: white;*/
	}
}

form {
	padding: 5px;
	margin: auto;
	display: inline-block;
}
form input {
	font-size: 3.5rem;	
	border: none;
	background: transparent;
	border-bottom: 1px solid #fff;
	outline: none;
	color: white;
}
body{
	height: 100%;
	background: -webkit-linear-gradient(#55868C, #7F636E );
}
		


