
@font-face
{
font-family: Quicksand;
src: url('Quicksand-Light.ttf')
}
* {
	font-family: 'Quicksand', sans-serif;
}

a {
	color: white;
}

.photo-nav {
	color: black;
	cursor: pointer;
	font-size: 1.2rem;
	padding: 10px;
}

.photo-collection {
	width: 100%;
	text-align: center;
}

.photo-image {
	width: auto;
	height: 80vh;
	margin: auto;
}

#photo-arrows {
	width: 50%;
	display: flex;
	margin: auto;
	text-align: center;
}

.prev,
.next {
  cursor: pointer;
  padding: 16px;
  color:black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
	text-align: left;
	margin: auto;
}

.current {
	text-align: center;
	margin: auto;
}

.next {
	text-align: right;
	margin: auto;
}

.title {
	height: 380px;
	width: 100%;
	text-align: center;
	font-size: 8.5rem;
	color: white;
	padding-top: 15%;
	padding-left: 0px;
	margin: 0;
}

#photo-title {
	width: 100%;
	text-align: center;
	margin: auto;
}

#photo-title a {
	color: black;
	font-size: 2rem;
	text-decoration: none;
}

#description {
	position: absolute;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 2.5rem;
	animation-name: example;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

#navbar {
	overflow: hidden;
}

#navbar a {
	float: right;
	display: inline;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
}
  
.sticky + body {
	padding-top: 60px;
}

.menu li {
	text-align: center;
}

.menu a {
	text-decoration: none;
}

.menu ul {
	list-style-type: none;
	top: 0px;
}
.menu {
	padding-right: 30px;
	margin: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	font-size: 2.5rem;
	overflow: auto;
}

#page1, #page2, #page3 {
	margin-left: auto;
	margin-right: auto; 
	width: 80%;
	padding-top: 15%;
	color: white;
	font-size: 3rem;
}


#page1 {
	height: 800px;
}

#portrait {
	min-width: 300px;
	width: 16.5vw;
	float: left;
	margin-top: 5%;
	max-width: 1000px;
}

#page1 h6 {
	width: 65%;
	margin-left: 35%;
}

#page2 {
	height: 1800px;
	padding-top: 13%;
}

#projects h3 {
	text-align: center;
}

#page3 {
	height: 700px;
	width: 100%;
	text-align: center;
	padding-bottom: 20%;
}

#resume:hover {
	color: black;
}

#social {
	text-decoration: none;
	width: 70%;
	margin: 0 auto;
	padding-right: 52px;
}

#social h6 {
	margin-left: 0;
	width: 100%;
	font-size: 1vw;
	margin-top: -5%;
}

#social img {
	width: 6.5vw;
	max-width: 120px;
}

#social ul {
	text-align: center;
	text-decoration: none;
}
#social li {
	display: inline-block;
}

#eatout img, #quack img {
	float: left;
	width: 300px; 
}

#quack img {
	margin-top: 3%;
}

#eatout h5, #quack h5 {
	width: 70%;
	margin-left: 30%;
	font-size: 1.4rem;
}

#eatout h6, #quack h6 {
	width: 80%;
	margin-left: 30%;
	font-size: 1.4rem;
}

#games {
	width: 100%;
	text-align: center;
	padding-bottom: 100px;
}

#game-list {
    width: 100%;
	height: 600px;
	font-size: 1rem;
	text-align: center;
	margin-left: .5%;
}

#game-list div {
	width: 33%;
	height: 380px;
    /*outline: 1px solid;*/
	float: left;
	position: relative;
}
#game-list div p{
	width: 95%;
	margin-left: 2.5%;
	position: absolute;
}

#ch-demo p {
	position: absolute;
	width: 30%;
}

#yard-yarn img {
	padding-top: 160px;
}

#nort img {
	width: 90%;
	margin-right: 4%;
	margin-top: 35%;
	padding-top: 80px;
	max-width: 500px;
}

canvas {
	position: absolute;
	width: 90%;
	margin-left: -45%;
	margin-top: -12%;
	height: 500px;
	float: left;
	z-index: 40;
	overflow:visible;
    pointer-events:none;
	background:none !important;
}

#main {
	background: -webkit-linear-gradient(#55868C, #7F636E );
}

body {
	height: 100%;
	padding-top: 16px;
}

@media(max-width: 1500px) {
	#nort p {
		font-size: 1vw;
	}
}

@media (max-width: 1024px) { /* when the width is less than 30em, make both of the widths 100% */

	.title {
		padding-top: 0;
		height: 500px;
	}
	#eatout img, #quack img {
		float: none;
		text-align: center;
		margin-left: 25%;
		width: 50%;
	}

	#nort p {
		font-size: 2.2vw;
	}
	
	#eatout h5, #quack h5, #eatout h6, #quack h6 {
		margin-left: 10%;
		width: 80%;
		font-size: 1.6rem;
		text-align: center;
	}

	#game-list {
		margin: 0;
		text-align: center;
		font-size: 2.2vw;
	}

	#game-list div {
		float: center;
		width: 100%;
	}

	#page1 img {
		min-width: 0;
		width: 30%;
		margin-left: 35%;
	}

	#page2 {
		padding-top: 450px;
		height: 3300px;
	}
	#page3 {
		height: 500px;
	}

	#page2 h1 {
		text-align: center;
	}

	#social img {
		width: 6.5vw;
		min-width: 60px;
	}

	#page1 h6{
		padding-top: 55%;
		width: 90%;
		text-align: center;
		margin-left: 5%;
	}

	#social h6 {
		opacity: 0;
	}

	#page1 {
		height: 800px;
		width: 100%;
	}

	#game-list img {
		width: 50%;
		padding-top: 160px;
		margin-top: 20px;
		max-width: 300px;
		float: none;
	}

	#nort img {
		margin-left: 4%;
		padding-top: 15%;
	}

	canvas {
		width: 90%;
		margin-left: -45%;
		margin-top: 72%;
		height: 500px;
		z-index: 40;
	}
}
@keyframes example {
	0%   {
		top: 50px;
		opacity: 0;
	}
	25%  {
		top: 0px;
		opacity: 1;
	}
	75%  {
		top: 0px;
		opacity: 1;
	}
	100% {
		top: -100px;
		opacity: 0;
	}
}
		


